.swc/
bin/
dynamic-data/
obj/
out/
*.orig
*.bak
.vs/
/build/.nupkg/
node_modules/
/src/*/dist/index.js
/src/*/dist/index.min.js
/src/*/dist/index.js.map
/src/*/typings/*/index.d.ts
/src/*/wwwroot/index.js
/src/*/wwwroot/index.min.js
/src/*/wwwroot/index.js.map
/src/*/wwwroot/esm/
*.csproj.user
.restore-stamp
package-lock.json
