bin/
obj/
*.orig
*.bak
.vs/
/build/.nupkg/
node_modules/
/src/*/wwwroot/index.js
/src/*/wwwroot/index.min.js
/src/*/wwwroot/index.d.ts
/src/*/wwwroot/index.js.map
/src/*/typings/*/index.d.ts
