.drag-helper {
    position: absolute;
    display: inline-block;
    padding: 4px 10px 4px 26px;
    background-color: #e0e0e0;
    border: 1px solid gray;
    opacity: 0.7;
    z-index: 99999;
    border-radius: 8px;
    box-shadow: 2px 2px 6px silver;
    background-repeat: no-repeat;
    background-position: 4px center;
    background-image: url(../Content/serenity/images/ok.png);
}

.drag-helper.reject {
    background-image: url(../Content/serenity/images/slash.png);
}