@inject ITextLocalizer Localizer
@inject IContentHashCache ContentHashCache
@{
    ViewData["Title"] = Localizer.Get("Db.Northwind.Customer.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Serenity.Demo.Northwind.CustomerGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>