@inject ITextLocalizer Localizer
@inject IContentHashCache ContentHashCache
@{
    ViewData["Title"] = Localizer.Get("Db.Northwind.Customer.EntityPlural");
}

<div id="GridDiv"></div>

<script type="module">
    Serenity.gridPageInit(Serenity.Demo.Northwind.CustomerGrid);
</script>